<template>
    <form @submit.prevent>
        <h1 class="main-form-title">Nouvelle page</h1>
      <div class="form-content">
        <div class="form-element">
            <label class="form-layout-side">Nom :</label>
            <input
                class="mb-16"
                id="name"
                v-model="fields.name"
                type="text"
                required
            />
          <div class="form-layout-side"></div> <!-- for layout -->
        </div>
        <div class="form-element">
            <label class="form-layout-side">Slug :</label>
            <input
                class="mb-16"
                id="slug"
                v-model="fields.slug"
                type="text"
                required
            />
          <div class="form-layout-side"></div> <!-- for layout -->
        </div>
        <button class="btn" @click="addItem" :disabled="!(fields.name && fields.slug)">Ajouter</button>
      </div>
    </form>
</template>

<script>
export default {
    data () {
        return {
            fields: {
                name: null,
                slug: null
            }
        }
    },
    methods: {
      async addItem() {
        let formData = new FormData();

        formData.append('form[name]', this.fields.name);
        formData.append('form[slug]', this.fields.slug);
        try {
          const response = await fetch(`${process.env.NUXT_ENV_API_URL}/projects`, {
            method: 'post',
            body: formData,
          })
          this.$store.commit('list/add', this.fields)
          this.$notify({
            title: 'Ajout effectué !',
            message: `La page ${this.fields.name} a bien été ajoutée !`,
            type : 'success'
          });
          this.fields = {
            name: null,
            slug: null
          }
        }catch (e){
          console.log(e)
          this.$notify({
            title: 'Erreur !',
            message: `Echec de l'ajout de la page !`,
            type : 'error'
          });
        }
      },
    }
}
</script>

<style scoped>
input:is([type="text"]) {
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    box-shadow: 1px 1px 0 0 #e8e8e8;
    color: #5f6567;
    font-size: 25px;
    font-family: 'ChunkFive-Regular', serif;
    padding: 0.5rem;
    transition: all .1s ease;
    background-color: rgba(255,255,255,0.7);
    height: 60px;
    text-align: center;
    width: 50%;
}
input:is([type="text"]):focus {
    border-color: #d64758;
    box-shadow: inset 0 0 0 1px #d64758;
    outline: 0;
}
.btn {
  font-family: 'ChunkFive-Regular', serif;
  background-color: #d64758;
  border-radius: 8px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 13px;
  width: 35%;
  height: 50px;
  margin-top: 35px;
}
.main-form-title{
  margin-top: 50px;
  color: black;
  text-align: center;
  font-size: 60px;
  font-family: 'ChunkFive-Regular', serif;
}

.form-layout-side{
  font-size: 25px;
  font-family: 'ChunkFive-Regular', serif;
  margin-right: 12px;
  width: 25%;
  text-align: right;
}

.form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.form-element{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-element:first-child{
  margin-top: 100px;
}
</style>