<template>
    <div class="list-container">
      <h1 class="main-list-title">LES PAGES</h1>
        <div class="grid sm:grid-cols-2 gap-16">
            <Item v-for="item in items.slice(0, nbElementsToShow)" :key="item.slug" :item="item" />
        </div>
    </div>
</template>

<script>
import Item from '@/components/list/item'

export default {
    components: { Item },
    data () {return {}},
    computed: {
      items() {
        return this.$store.state.list.listItems
      },
      nbElementsToShow(){
        return this.$store.state.list.nbElementsToShow
      }
    }
}
</script>

<style scoped>
  .list-container{
    width: 60%;
    margin: auto;
  }
  .main-list-title{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 75px;
    font-family: 'ChunkFive-Regular', serif;
  }
</style>