@import "knacss/knacss.scss";

.el-row{
  margin: 0!important;
}

@font-face {
  font-family: 'ChunkFive-Regular';
  src:url('fonts/ChunkFive-Regular/ChunkFive-Regular.ttf.woff') format('woff'),
  url('fonts/ChunkFive-Regular/ChunkFive-Regular.ttf.svg') format('svg'),
  url('fonts/ChunkFive-Regular/ChunkFive-Regular.ttf.eot'),
  url('fonts/ChunkFive-Regular/ChunkFive-Regular.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}