<template>
  <header>
    <div class="menu">
      <NuxtLink :class="'menu-link ' + ($route.path === '/' ? 'active' : '')" to="/">
        Accueil
      </NuxtLink>
      <NuxtLink :class="'menu-link ' + ($route.path === '/about' ? 'active' : '')" to="/about">
        Comment ça marche ?
      </NuxtLink>
    </div>
      <div class="list-length-input">
        <label>Taille de la liste </label>
        <el-input-number v-model="nbElementsToShow" @change="handleChange" :min="1" :max="20" size="mini"></el-input-number>
      </div>
  </header>
</template>

<script>

export default {
  components: {},
  data() {
    return {
      nbElementsToShow: this.$store.state.list.nbElementsToShow
    };
  },
  methods: {
    handleChange(value) {
      this.$store.commit('list/updateNbElementsToShow', value)
    }
  },
  computed: {
    url() {
      return this.$route.path;
    }
  }
}
</script>

<style scoped>
 header{
   height: 50px;
   background-color: rgb(19, 22, 29);
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .menu{
   margin-left: 50px;
 }

 .menu-link:first-child{
   margin-left: 10px;
 }

 .menu-link{
   color: white;
   margin-right: 10px;
   padding-bottom: 3px;
   font-weight: bold;
   text-decoration: none;
 }

 .menu-link:hover{
   border-bottom: 2px solid #fff;
 }

 .active{
   border-bottom: 2px solid #d64758;
 }

 label{
   color: #FFFFFF;
   font-weight: bold;
   margin-right: 8px;
 }

 .list-length-input{
   display: flex;
   align-items: center;
 }

 @media screen and (max-width: 780px) {
   header {
     font-size: 0.9em;
   }
   .menu{
     margin-left: 20px;
   }
 }
</style>