<template>
    <div class="about-container">
        <h1 class="pt-24 pb-24 text-center">Tipeee</h1>
        <div class="layout-maxed">
            <p>
                Sur Tipeee, chaque créateur peut lancer sa page de soutien, peu importe ses besoins, ce qu’il fait ou d’où il vient.
            </p>
            <p>
                Sa communauté peut le soutenir financièrement en lui envoyant un Tip du montant de son choix, de façon ponctuelle ou récurrente (sans durée d’engagement).
            </p>
            <p>
                Ce soutien est volontaire : il permet d’aider un créateur à développer son activité et de lui dire qu'on aime son travail. S’il le souhaite, le créateur peut proposer différentes contreparties pour ses tipeurs.
            </p>
        </div>
    </div>
</template>

<script>

export default {
    name: 'AboutPage'
}
</script>

<style scoped>
h1 {
  font-size: 120px;
  color: #d54757;
  font-family: 'ChunkFive-Regular', serif;
}

.about-container{
  background-image: url("static/images/background.svg");
  height: calc(100vh - 50px);
  padding-right: 30px;
  padding-left: 30px;

}

p{
  font-size: 26px;
  font-weight: 500;
  line-height: 1.85em;
}

@media screen and (max-width: 780px) {
  p {
    font-size: 20px;
  }

  h1{
    font-size: 80px;
  }
}
</style>