<template>
    <div class="main-container">
      <el-row :gutter="10">
        <el-col :sm="24" :md="8" class="form-col">
          <AddItem />
        </el-col>
        <el-col :sm="24" :md="16" class="list-col">
          <List />
        </el-col>
      </el-row>
    </div>
</template>

<script>
import AddItem from '@/components/list/addItem'
import List from '@/components/list/list'

export default {
    name: 'IndexPage',
    components: { AddItem, List }
}
</script>

<style scoped>
.list-col{
  background-image: linear-gradient(-145deg,#d54757,#e9595b);
  height: calc(100vh - 50px);
  overflow-y : scroll;
}

.form-col{
  background-image: url("static/images/background.svg");
  height: calc(100vh - 50px);
}
</style>